<% @dream_questions.each do |dream_question| %>
  <h1 style="color:white;"><%= dream_question.question.question_text %></h1>
  <% if dream_question.answer %>
      <h1>This where the update would happend</h1>

      <% else %>
      <%= simple_form_for(Answer.new, :url => dream_questions_path, :method => :post) do |f| %>
          <%= f.input :user_answer %>
          <%= f.submit  %>
          <%= f.input :dream_question, as: :hidden, input_html: {value: dream_question.id } %>
      <% end %>

      <% end %>
  <% end %>
