<div class="container p-3">
  <div class="wrap">
    <div class="box">
      <%= form_tag dreams_path, method: :get, class: "search" do %>
        <div class="d-flex justify-content-between align-items-center">
          <%= text_field_tag :search, params[:search], class: "input", placeholder: " Search", onmouseout: "this.value = ''; this.blur();" do %>
          <i class="fas fa-filter"></i>
          <% end %>
          <i class="fas fa-filter"></i>
        </div>
        <% end %>
    </div>
  </div>

  <div>
    <%# Button to go to labels %>
    <%= link_to "Labels", labels_path %>
  </div>


  <div class="cards-container">
    <% @dreams.each do |dream| %>
      <%=link_to dream_path(dream) do %>
        <div class="opacity-box m-3 p-3" style="width: 18rem; color: white;">
          <h6 class="card-subtitle mb-2">
            <%= content_tag(:strong, dream.date.strftime('%d.%B.%Y'), class: 'front-weight-bold') %>
          </h6>



            <div class="card-body">
              <p class="card-text">
                <div><%= dream.content.truncate(30)%></div>
              </p>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
