<div class="container p-3">
  <div class="wrap">
    <div class="box">
      <%= form_tag dreams_path, method: :get, class: "search" do %>
        <div class="d-flex justify-content-between align-items-center">
          <%= text_field_tag :search, params[:search], class: "input", placeholder: " Search", onmouseout: "this.value = ''; this.blur();" do %>
          <i class="fas fa-filter"></i>
          <% end %>
          <i class="fas fa-filter"></i>
        </div>
        <% end %>
    </div>
  </div>
<%# <div class="container p-3">
  <div class="wrap">
    <%= form_tag dreams_path, method: :get, class: "search" do %>
      <%#= text_field_tag :search, params[:search], class: "searchTerm", placeholder: "What are you looking for?" %>
      <%#= submit_tag "Search", class: "btn searchButton" %>
    <%# end %>

  <div class="cards-container">
    <% @dreams.each do |dream| %>
      <%=link_to dream_path(dream) do %>
        <div class="opacity-box m-3 p-3" style="width: 18rem; color: white;">
          <h6 class="card-subtitle mb-2"><%= dream.date.strftime('%d.%m.%Y') %></h6>

            <div class="card-body">
              <p class="card-text">
                <div><%= dream.content&.truncate(30) || dream.answers.map(&:user_answer).join(" ") %></div>
              </p>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
