<div class="container">
  <div class="wrap">
    <div class="box">
      <%= form_tag dreams_path, method: :get, class: "search" do %>
        <div class="d-flex justify-content-between align-items-center">
          <%= text_field_tag :search, params[:search], class: "input", placeholder: " Search", onmouseout: "this.value = ''; this.blur();" do %>
          <i class="fas fa-filter"></i>
          <% end %>
          <i class="fas fa-filter"></i>
        </div>
        <% end %>
    </div>
  </div>

  <div class="cards-container">
    <% @dreams.each do |dream| %>
      <%=link_to dream_path(dream) do %>
        <div class="opacity-box">

          <div class="date-container-index-cards">
            <h4 style="display: inline; font-weight: normal;"><%= dream.date.strftime('%d.%m.%Y') %></h4>
            <h4 style="display: inline-block; margin-left: 10px;"><%= dream.title.delete('"') %></h4>
          </div>

          <div class="tags">
            <% dream.labels.each do |label| %>
              <div class="tag"><%= label.name %></div>
            <% end %>
          </div>


          <div class="textarea-container form-control-index transparent-textarea">
              <%= dream.content.truncate(300)%>
          </div>
        </div>
      <% end %>
    <% end %>
   </div>
  </div>
</div>
