<div class="wrap">
  <%= form_tag dreams_path, method: :get, class: "search" do %>
    <%= text_field_tag :search, params[:search], class: "searchTerm", placeholder: "What are you looking for?" %>
    <%= submit_tag "Search", class: "searchButton" %>
  <% end %>
</div>

<% @dreams.each do |dream| %>
  <%=link_to dream_path(dream) do %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted"><%= dream.date %></h6>
        <p class="card-text">
          <div><%= dream.content.length > 30 ? "#{dream.content[0...30]}..." : dream.content %></div>
        </p>
      </div>
    </div>
 <% end %>

