<div class="container">
  <%= link_to "↩", root_path, class: "btn button_one text-white" %>
  <div class="opacity-box">
  <div class="date-container">
    <h5><%= Date.today.strftime('%d.%m.%Y') %></h5>
  </div>
  <%= simple_form_for(@dream) do |f| %>
    <div class="textarea-container">
      <%= f.label :content,'My Dream', style: 'margin-left: 15px;' %>
      <%= f.text_area :content, class: 'form-control transparent-textarea dream-placeholder',
        style: 'min-height: 250px, background-color: transparent',
        placeholder: 'Describe your dream...' %>
    </div>
    <div class="buttons-container">
      <%= f.submit "✔", class: "btn button_one" %>
    </div>
  <% end %>
</div>
