<div class="container">

  <%= link_to "↩", root_path, class: "btn button_one text-white" %>

  <div class="cards-container">

    <div class="opacity-box">

      <%# DATE %>
        <div class="date-container" style='color: #b5aebe; font: 20px;'>
          <h5><%= Date.today.strftime('%d.%m.%Y') %></h5>
        </div>

      <%# TAGS %>
      <div style="margin-top: 50px;">
      </div>


      <%= simple_form_for(@dream) do |f| %>

        <%= f.association :labels,
        as: :check_boxes,
        legend_tag: false,
        input_html: { class: "tag-selector" },
        item_wrapper_class: 'tag-item' %>

      <%# Text DREAM %>
      <div class="index-dream-content-container">
          <%= f.input :content, input_html: {
          # class: 'form-control transparent-textarea',
          style: 'height: 250px;
                  background-color: transparent;
                  border: transparent;'
        },
        label: "My dream",
        placeholder:
          "Describe your dream..." %>
      </div>

      <%# BUTTON  %>
      <div class="buttons-container">
      <%= f.submit "✔", class: "btn button_one" %>
      </div>

      <% end %>

     </div>
  </div>


      <script>
        document.addEventListener('input', function(event) {
          if (event.target.classList.contains('auto-grow')) {
            event.target.style.height = 'auto';
            event.target.style.height = (event.target.scrollHeight) + 'px';
          }
        });
      </script>
</div>
