<div class="container p-3 text-white">
  <%= link_to "↩", root_path, class: "btn button_one text-white" %>

  <div class="container opacity-box mt-4 p-1">
    <div class="date-container">
      <h5><%= Date.today.strftime('%d.%m.%Y') %></h5>
    </div>
      <%= simple_form_for(@dream) do |f| %>
        <div class="textarea-container mt-5">
          <%= f.input :content,
          input_html: {
            class: 'form-control transparent-textarea',
            style: 'height: 250px;'
          },
          label: "My dream",
          placeholder:
            "Describe your dream... Did you soar high above the clouds or discover a hidden underwater city? Let your imagination run wild!" %>
        </div>
        <div class="buttons-container">
        <%= f.submit "✔", class: "btn button_one" %>
      </div>
      <% end %>
  </div>
</div>
