    <img src="<%= asset_url("moth.png")%>" alt="" class="moth">

<div class="container" data-controller="audio-input">

  <div class="wrap">
    <div class="box">
      <%= link_to "↩", root_path, class: "btn button_one text-white" %>
    </div>
  </div>

  <div class="new-recording-opacity-box">

    <div class="new-recording-title-container">
          <h2> Record your dream ... </h2>
      </div>

       <div class="new-recording-content-container">
          <%= form_with url: create_new_audio_path, local: true, multipart: true, method: :post do |form| %>
            <%= form.hidden_field :audio, data: { audio_input_target: "input" }%>
          <% end %>

          <textarea
            style='
                  color: #b5aebe;
                  background-color: transparent;
                  border: transparent;
                  width: 100%;
                  height: 200px;'
            class='form-control'
            placeholder='Describe your dream...'
            id="transcribedText"
            data-audio-input-target="transcribedText">
          </textarea>
        </div>


        <div class="tags">
          <%= link_to '#', class: "btn button_one violet button--mic",
            data: {
              action: "click->audio-input#toggleRecording",
              audio_input_target: "recordButton" } do %>
            <i class="fa fa-microphone record-icon" style="font-size: 50px;"></i>
          <% end %>
        </div>


  </div>

    <div class="tags">
      <%= simple_form_for @dream_of_today do |f| %>
        <%= f.input :content, as: :hidden, input_html: { data: { audio_input_target: "transcribedText" } } %>
        <%= f.submit "Save", class: "btn button_one" %>
      <% end %>
    </div>


  </div>

</div>
