<p><button><%= link_to "return to library", dreams_path %></button></p>
<p>
<button type="button">label 1</button>
<button type="button">label 2</button>
</p>

<h2><%= @dream.date %></h2>
<p><%= @dream.content %></p>

<p>
  <%= link_to dream_path(@dream), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "card-link" do %>
    <i class="fa-solid fa-trash-can"></i>
  <% end %>

  <%# some space between the icons %>
  <span style="margin: 0 5px;"></span>

 <%= link_to edit_dream_path(@dream), class: "card-link" do %>
    <i class="fa-regular fa-pen-to-square"></i>
  <% end %>
</p>
