<% current_hour = Time.now.hour %>
<% if current_hour < 12 %>
  <h1 class="title"><%= "Good Morning, #{current_user.username}"%>!💭</h1>
<% elsif current_hour < 18 %>
  <h1 class="title"><%= "Good Afternoon, #{current_user.username}"%>!☀️</h1>
<% elsif current_hour < 22 %>
  <h1 class="title"><%= "Good Evening, #{current_user.username}"%>!🌅</h1>
<% else %>
  <h1 class="title"><%= "Good Night, #{current_user.username}"%>!🌙</h1>
<% end %>

<p class = "date"><%= "#{Date.today.strftime('%A, %B %d, %Y')}" %></p>

<button type="button" class="button"><%= link_to "Questions", questions_path %></button>
<button type="button" class="button"><%= link_to audio_path do %>
  <i class="fa-solid fa-microphone-lines"></i>
<% end %>
</button>
<button type="button" class="button"><%= link_to "Write", new_dream_path %></button>
