<% current_hour = Time.now.hour %>
<% if current_hour < 12 %>
  <h1 class="title mt-5 mb-5"><%= "Good Morning, #{current_user.username}"%>!🌤️</h1>
<% elsif current_hour < 18 %>
  <h1 class="title mt-5 mb-5"><%= "Good Afternoon, #{current_user.username}"%>!🌞</h1>
<% elsif current_hour < 22 %>
  <h1 class="title mt-5 mb-5"><%= "Good Evening, #{current_user.username}"%>!🌟</h1>
<% else %>
  <h1 class="title mt-5 mb-5"><%= "Good Night, #{current_user.username}"%>!🌙</h1>
<% end %>

<p class="date"><%= "#{Date.today.strftime('%A, %B %d, %Y')}" %></p>

<div class="d-flex justify-content-center">
  <button type="button" class="button home-buttons-container-1">
    <%= link_to new_dream_path do %><i class="fa-solid fa-pen"></i><% end %>
  </button>
</div>

<div class="d-flex justify-content-around mt-4">
  <button type="button" class="button home-buttons-container">
    <%= link_to create_new_audio_path do %>
      <i class="fa-solid fa-microphone-lines"></i>
    <% end %>
  </button>
  <button type="button" class="button home-buttons-container">
    <%= link_to questions_path do %><i class="fa-solid fa-question"></i><% end %>
  </button>
</div>
