<!DOCTYPE html>
<html>
  <head>
    <title>Dreamflow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-dB/Kd8LWziy9p26vaJ+qDmZl/20tJV+oBMIFBng9K3xid4+rdpPK6Up6sJ5OOLGJ" crossorigin="anonymous">
    <%= javascript_importmap_tags %>
  </head>
  <body><%= render "shared/navbar" %>
<%= render "shared/flashes" %>

    <main>
      <%= yield %>
     </main>

     <%= render 'shared/bottom_navbar' %>

  </body>
</html>
