<!DOCTYPE html>
<html>
  <head>
    <title>Dreamflow</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

      <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
        <%= render 'shared/ios_pwa_links' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "shared/flashes" %>
    <main>
      <%= yield %>
    </main>
    <div class="d-flex d-flex justify-content-center">
      <%= render 'shared/bottom_navbar' %>
    </div>
  </body>
</html>
